
.porject::after{
    content: url("../../../public/project.svg");
    width: auto;

}
a{
    align-items: center;
}
.tbefore::before{
    content: '!';
    
    background-color: rgb(216, 238, 249);
    
    width: 18px;;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    border: 1;
    border-style: solid;
    border-width: 1px;
    border-color: black;

}